<!DOCTYPE html>
<html lang="en">
</style>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/@gitgraph/js"></script>
  <style>
    tr:hover {
      background-color: rgba(199, 199, 199, 0.3);
    }
  </style>

</head>

<body>
  <div id="app">

  </div>

</body>

</html>